body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(40, 40, 40, 0.96);
}

div#parent {
    width: 780px;
    margin: auto;
    background-color: white;
}

.header-image {
    width: 780px;
}

div#parent section {
}

section.main-content-area {
    min-height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .secondary {
        min-height: 20px;
        padding-right: 20px;
        font-size: 10px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 3px;

        a {
            margin: 0 5px;
            color: rgba(35,31,32,0.96);
            font-family: Arial, Helvetica, sans-serif;
            text-decoration: none;
            text-transform: uppercase;

            &:hover {
                text-decoration: underline;
            }
        }

        &.bottom {
            font-size: 9px;

            a {
                text-transform: lowercase;
                color: rgba(35,31,32,0.96);
            }
        }

        img {
            scale: 70%;
        }
    }

    section.undergraduate-textheader {
        display: flex;
        justify-content: flex-end;
        text-decoration: underline 8px solid rgba(195,16,47,0.96);
        text-underline-offset: 1px;
        min-height: 50px;
        font-size: 34px;
        padding: 20px 0 0 0;
        text-transform: uppercase;
        font-weight: bolder;
        color: rgba(195,16,47,0.96);
    }

    section.box {
        min-height: 550px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin: 0 auto 0;

        .left-side {
            background-color: rgba(242,243,244,0.96);
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            margin: -93.5px 0 -20px 0;
            min-height: 550px;
            border-right: rgba(185,189,155,0.96)solid 2px;
            padding-top: 10px;

            nav {

                a {
                    color: rgba(35,31,32,0.96);
                    display: block;
                    text-decoration: none;
                    border-bottom: 1px solid rgba(86,100,33,0.96);
                    padding: 15px 0 8px 15px;
                    text-transform: uppercase;
                    font-size: 10px;


                    &:hover {
                        background-color: #60663e;
                        color: white;
                        text-decoration: none;
                    }
                }
            }

            .links {
                display: flex;
                flex-direction: column-reverse;
                align-items: center;
                scale: 110%;
                padding: 300px 30px 60px;
            }
        }

        .middle-section {
            width: 30%;
            padding-left: 35px;
            padding-top: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            border-right: black 1px dashed;

            nav {

                a {
                    color: rgba(35,31,32,0.96);
                    display: block;
                    text-decoration: none;
                    text-transform: none;
                    padding: 5px 1px 1px 1px;
                    font-size: 10px;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

        }

        .right-side {
            width: 60%;
            padding: 10px 20px 20px 20px;
            height: fit-content;

            img {
                margin-bottom: 0;
                width: 100%;
                height: auto;
            }

            p {
                font-size: 12px;
                color: rgba(35,31,32,0.96)
            }

            div.more {
                display: flex;
                justify-content: flex-start;

                a {
                    color: rgba(195,16,47,0.96);
                    text-decoration: none;
                    text-transform: uppercase;
                    font-size: 8px;
                    font-weight: 800;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }

}

section.footer {
    background-color: rgba(114,122,52,0.96);
    text-align: center;
    color: white;
    padding: 8px 0;
    font-size: 9px;
}